* {
    padding: 0;
    margin: 0;
}

/* Navbar Styles */
.navbar {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure the navbar is above other content */
}

/* Hamburger Icon Styles */
.hamburger-icon {
    cursor: pointer;
    z-index: 1;
    padding-right: 20px;
    padding: 10px 20px;
}

.line {
    width: 30px;
    height: 3px;
    background-color: rgb(255, 251, 251);
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger-icon:hover .line {
    background-color: #555;
}

/* Side Panel Styles */
.side-panel {
    display: flex;
    width: 0;
    position: fixed;
    top: 55px;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 0;
}

.side-panel.open {
    width: 300px;
    display: block;
}

.side-panel ul li {
    display: flex;
    padding: 10px 0px;
    margin: 10px 0px;
    color: aquamarine;
    border-bottom: 1px solid whitesmoke;
    min-height: 30px;
}

.side-panel ul li a {
    text-decoration: none;
    color: beige;
    padding: 0% 35%;
}

.side-panel ul li a:hover {
    font-size: 20px;
}

/* Default Styles for Larger Screens */
.body {
    display: flex;
    flex-direction: column; /* Change the layout to column for smaller screens */
    min-height: 100vh; /* Ensure the content takes at least the full viewport height */
    background-color: rgb(131, 212, 239);
    margin: 10px 0px;
    padding: 10px;
}

/* Media Query for Screens Smaller Than 500px */
@media (max-width: 500px) {
    /* Responsive Images */
    .card img {
        max-width: 100%;
        height: auto;
        margin: auto;
    }

    /* Adjust Logo Sizes and Spacing in the Footer */
    .contact-items img {
        max-width: 20px; /* Adjust the max-width as needed */
        height: auto;
        margin: 0 5px; /* Adjust the margin as needed */
    }
    .side-panel.open {
        width: 150px;
        display: block;
    }
}

/* Footer Styles */
#footer {
    border: 1px solid rgb(223, 184, 184);
    background-color: rgb(65, 63, 63);
    font-weight: bold;
    color: bisque;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.copyright {
    width: 50%;
    padding: 0% 25%;
    text-align: center;
}

.contact-items {
    display: block;
    width: 125px;
    align-items: center;
    overflow-x: auto; /* Enable horizontal scrolling if content overflows */
}

.contact-items img {
    max-width: 20px; /* Adjust the max-width as needed */
    height: auto;
    margin: 15px; /* Adjust the margin as needed */
}


#github, #Email {
    display: flex;
    align-items: center;
}

/* Make Navbar Sticky */
.navbar.sticky {
    position: sticky;
    top: 0;
}
